<ngb-carousel >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/image/gateau_1.jpg" class="carousel-img" alt="Random first slide" >
      </div>
      <div class="carousel-caption">
        <h3>Desserts</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/image/entre.jpg" class="carousel-img" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Entrée</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/image/poulet.jpg" class="carousel-img" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Plat</h3>
      </div>
    </ng-template>
  </ngb-carousel>